.google {
  width: 400px;
  margin-left: 220px;
}
.google-search {
  padding: 20px;
  width: 800px;
  display: inline;
  border-radius: 400px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0,0.2);
  border: none;
}