p {
  font-family: Arial;
  margin: 0;
}
.ytm {
  background-color: rgb(58, 58, 58);
  width: 380px;
}
.txt1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 20px;
}
.txt2 {
  color: grey;
  padding: 10px;
  padding-bottom: 20px;
}