p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 23px;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 14px;
  color: #606060;
  margin-bottom: 18px;
}
.video-author {
  color: #606060;
  font-size: 14px;
  margin-bottom: 18px;
}
.video-description {
  font-size: 14px;
  color: #606060;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: #e34140;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.span-example {
  color:#e34140;
  margin-left: 12px;
}
.apple-span:hover {
  text-decoration: underline;
  cursor: pointer;
}