.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
  .video-author,
.video-stats{
  font-size: 14px;
}
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  right: 8px;
  bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  border-radius: 2px;
}
.video-title-link {
  text-decoration: none;
  color: black;
}

.channel-container {
  position: relative;
  display: inline-block;
}
.overlay {
  display: flex;
}
.channel-container .overlay {
  position: absolute;
  background-color: white;
  border-style: solid;
  padding: 20px;
  opacity: 0;
  z-index: 999999;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.9);
  border: none;
  pointer-events: none;
  width: 220px;
  height: 50px;
}  
.channel-container:hover .overlay {
  opacity: 1;
}
.channel-pfp {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 15px;
}
.chnl-name {
  font-weight: bold;
}
.subs-count {
  margin-top: 5px;
  color: grey;
}
.channel-picture {
  position: relative;
}